{% extends "master.html" %}

{% block content %}
      <main style="padding-top: 40px;">
        <div class="bg-image-container">
            <div class="modal modal-static d-block" tabindex="-1" id="alwaysVisibleModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-light bg-dark">
                  <div class="modal-header">
                    <h5 class="modal-title customRed fw-bolder">REGISTER</h5>
                  </div>
                  <div class="modal-body">
                     <form class="mx-auto" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if messages %}
                        <div class="alert alert-primary" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="mb-3">
                            <label class="col-form-label" for="firstName">First name</label>
                            <input type="text" class="form-control bg-dark text-light white-outline" id="firstName" name="first_name" required>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="lastName">Last name</label>
                            <input type="text" name="last_name" class="form-control bg-dark text-light white-outline" id="lastName" required>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="userName">Username</label>
                            <input type="text" class="form-control bg-dark text-light white-outline" name="username" id="userName" required>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="password">Password</label>
                            <input type="password" class="form-control bg-dark text-light white-outline" name="password" id="password" required>
                        </div>

                        <p class="col-form-label">Already have an account?  <a class="customRed fw-bold" href="/login/">Login</a> </p>

                         <button type="submit" class="btn btn-danger" style="float: inline-end;">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </main>
{% endblock %}

