{% extends "notification_master.html" %}

{% block extended_content %}
<div class="container pt-2 pb-5 text-light">
     <div class="row">
        <div class="col-md-4 custom-gray">
            <h2>{{ room.name }}</h2>
            <p><strong>Opening Time:</strong> {{ room.opening_time }}</p>
            <p><strong>Closing Time:</strong> {{ room.closing_time }}</p>
        </div>
         <div class="col-md-4">
             <a href="{% url 'room_edit' room.id %}" class="btn btn-danger me-2">EDIT ROOM</a>
             <a href="{% url 'manage_seats' room.id %}" class="btn btn-danger">MANAGE SEATS</a>
         </div>
    </div>
    <br>
    <h3>Seats</h3>
    <hr class="border-light m-0">
    <div class="mt-4">
        {% for row_letter, numbers in rows.items %}
            <div class="mb-3 d-flex align-items-center">
                <div class="me-3 fw-bold" style="width: 30px;">{{ row_letter }}</div>
                <div class="d-flex flex-wrap gap-2">
                    {% for num in numbers %}
                        <div class="bg-light rounded px-3 py-1 text-center text-black">{{ num }}</div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>No seats yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}